/* THEME:  LOGIN --------------------------------------------------------------------------------------------------- */

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Page -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book
// --------------------------------------------------------------------------------------------------------------------
*/

/* styles sets div element containing LOGIN -- mainly sets blue background w/ white border */
.bea-portal-login-book
{
	background-color: #AEC2D8;
	border: 2px solid #FFFFFF;
	margin: 10px;
	padding: 5px;
}

.bea-portal-login-book-content
{
	background-color: #AEC2D8;
	scrollbar-base-color: #D8D8E5;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Page
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-login-book-page
{
    font-size: 1.0em;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Root Menu, Multi-Level -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Nested Menu, Multi-Level -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Root Menu, Multi-Level -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Nested Menu, Multi-Level -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Menu, Single-Level -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Menu, Single-Level -- NOT USED IN LOGIN
// --------------------------------------------------------------------------------------------------------------------
*/
