/* THEME:  LEFTNAV --------------------------------------------------------------------------------------------------- */

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Page -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book
// --------------------------------------------------------------------------------------------------------------------
*/

/* styles sets div element containing LEFTNAV -- mainly sets grey background w/ no border */
.bea-portal-leftnav-book
{
	background-color: #DCDCDC;
	border-right: 1px solid #FFFFFF;
	margin: 10px;
	padding: 5px 0px;
	width: auto;
}

.bea-portal-leftnav-book-content
{
	background-color: #DCDCDC;
	scrollbar-base-color: #D8D8E5;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Page
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-leftnav-book-page
{
    font-size: 1.0em;
}


/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Root Menu, Multi-Level -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Nested Menu, Multi-Level -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Root Menu, Multi-Level -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Nested Menu, Multi-Level -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Menu, Single-Level -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/


/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Menu, Single-Level -- NOT USED IN LEFTNAV
// --------------------------------------------------------------------------------------------------------------------
*/


