/*
// --------------------------------------------------------------------------------------------------------------------
// Forms
// --------------------------------------------------------------------------------------------------------------------
*/

form
{
    margin: 0px;
    padding: 0px;
}

input, select, textarea
{
    margin: 2px;
    font-size: 0.9em;
}
